.big {
    font-size: 150%;
}

.big1 {
    font-size: 115%;
}

body {
    background-image: url('img/matrix.png');
    background-repeat: repeat-x;
}

.h1 {
    font-size: 180%;
    font-weight: bold;
}

.h2 {
    font-size: 150%;
    font-weight: bold;
}

.h3 {
    font-size: 120%;
    font-weight: bold;
}

.right {
    float: right;
}